# Binaries for programs and plugins
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Test environment of the CockroachDB
/api/goroutine_dump
/api/heap_profiler
/api/inflight_trace_dump

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Intellij editor
.idea/

# Mac OS
.DS_Store